<md-content ng-controller="ToggleController" flex>

    <div layout="row" layout-align="center start" ng-style="{'height' : navSize + 'px'}">
        <md-button ng-click="addStation()" class="md-raised md-primary">Добавить новую станцию</md-button>
        <md-button ng-click="updateStation()" ng-disabled="selected.length != 1" class="md-raised md-primary">
            Редактировать
        </md-button>
        <md-button ng-click="deleteStation()" ng-disabled="selected.length == 0" class="md-raised md-warn">Удалить</md-button>
    </div>

    <md-sidenav class="md-sidenav-left" md-component-id="left">
        <md-toolbar>
            <h1 class="md-toolbar-tools">{{operation.HEADER}}</h1>
        </md-toolbar>

        <form name="form">
            <div layout="column" layout-align="center center">
                <md-select placeholder="Страна" ng-model="country" ng-change="station.countryId = country.id"
                           style="min-width: 200px;">
                    <md-option ng-repeat="country in countries" ng-value="country">
                        {{country.name}}
                    </md-option>
                </md-select>
                <md-input-container>
                    <label>Наименование RU</label>
                    <input required name="nameRu" ng-model="station.nameRu">
                    <div ng-messages="form.nameRu.$error">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Наименование UA</label>
                    <input required name="nameUa" ng-model="station.nameUa">
                    <div ng-messages="form.nameUa.$error">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Адрес RU</label>
                    <input name="addressRu" ng-model="station.addressRu">
                </md-input-container>
                <md-input-container>
                    <label>Адрес UA</label>
                    <input name="addressUa" ng-model="station.addressUa">
                </md-input-container>
                <md-input-container>
                    <label>Код KOATUU</label>
                    <input name="codeKoatuu" ng-model="station.codeKoatuu">
                </md-input-container>
            </div>
        </form>

        <div layout layout-align="end end" layout-margin>
            <md-button class="md-raised md-warn" ng-click="saveOrUpdateStation()">{{operation.BUTTON}}</md-button>
        </div>
    </md-sidenav>
</md-content>