<md-content>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
                <span>Связь станций вендоров со станциями API</span>
            </h2>
        </div>
    </md-toolbar>

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="depend">
            <md-content class="md-padding">
                <h1 class="md-display-2">Связь</h1>

                <md-content class="md-padding" layout-xs="column" layout="row">

                    <div flex-xs="" flex-gt-xs="50" layout="column">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Станции API</span>
                                </md-card-title-text>
                            </md-card-title>

                            <md-card-content>
                                <md-table-container ng-controller="TableController">
                                    <table md-table md-row-select multiple ng-model="selected">
                                        <thead md-head md-order="query.order">
                                        <tr md-row>
                                            <th md-column md-order-by="nameToUpper">Station Name</th>
                                            <th md-column md-order-by="nameToUpper">Station Country</th>
                                            <th md-column md-numeric>Koatuu</th>
                                        </tr>
                                        </thead>
                                        <tbody md-body>
                                        <tr md-row md-select="station" md-select-id="name"
                                            ng-repeat="station in stations.data">
                                            <td md-cell>{{station.name}}</td>
                                            <td md-cell>{{station.country}}</td>
                                            <td md-cell>{{station.koatu}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                            </md-card-content>

                            <md-card-actions layout="row" layout-align="start center">
                                <md-card-icon-actions>
                                    <md-button class="md-icon-button" aria-label="Favorite">
                                        <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="Share">
                                        <!--<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>-->
                                    </md-button>
                                </md-card-icon-actions>
                                <md-button class="md-raised md-primary">Добавить новую станцию</md-button>
                                <md-button ng-disabled="true" class="md-raised md-primary">Редактировать</md-button>
                                <md-button class="md-raised md-warn">Удалить</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>

                    <md-content flex-xs="" flex-gt-xs="50" layout="column">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Станции Вендора</span>
                                </md-card-title-text>
                            </md-card-title>

                            <md-card-content>

                                <div ng-controller="AutocompleteController">
                                    <div layout-gt-sm="row">
                                        <md-autocomplete flex
                                                         ng-disabled="isDisabled"
                                                         md-no-cache="noCache"
                                                         md-selected-item="selectedItem"
                                                         md-search-text-change="searchTextChange(ctrl.searchText)"
                                                         md-search-text="searchText"
                                                         md-selected-item-change="selectedItemChange(item)"
                                                         md-items="item in querySearch(searchText)"
                                                         md-item-text="item.display"
                                                         md-min-length="0"
                                                         placeholder="Выбор вендора">
                                            <md-item-template>
                                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{ctrl.searchText}}" were found.
                                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                                            </md-not-found>
                                        </md-autocomplete>
                                        
                                    </div>
                                </div>


                                <md-table-container ng-controller="TableController">
                                    <table md-table md-row-select multiple ng-model="selected">
                                        <thead md-head md-order="query.order">
                                        <tr md-row>
                                            <th md-column md-order-by="nameToUpper">Station Name</th>
                                            <th md-column md-order-by="nameToUpper">Station Country</th>
                                            <th md-column md-numeric>Koatuu</th>
                                        </tr>
                                        </thead>
                                        <tbody md-body>
                                        <tr md-row md-select="station" md-select-id="name"
                                            ng-repeat="station in stations.data">
                                            <td md-cell>{{station.name}}</td>
                                            <td md-cell>{{station.country}}</td>
                                            <td md-cell>{{station.koatu}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>

                                <div layout="row" layout-align="center center">
                                    <md-switch ng-model="data.cb1" aria-label="Switch 1">
                                        All
                                    </md-switch>

                                    <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-false-value="'nope'"
                                               class="md-warn">
                                        Merge
                                    </md-switch>

                                    <md-switch ng-model="data.cb6" aria-label="Switch 3">
                                        Unmerge
                                    </md-switch>
                                </div>
                            </md-card-content>

                            <md-card-actions layout="row" layout-align="start center">
                                <md-card-icon-actions>
                                    <md-button class="md-icon-button" aria-label="Favorite">
                                        <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="Share">
                                        <!--<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>-->
                                    </md-button>
                                </md-card-icon-actions>
                                <md-button class="md-raised md-primary">Соеденить</md-button>
                                <md-button class="md-raised md-primary">Разделить</md-button>
                            </md-card-actions>
                        </md-card>
                        </div>

                    </md-content>


                </md-content>
        </md-tab>
        <md-tab label="admin">
            <md-content class="md-padding">
                <h1 class="md-display-2">Администрирование</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus
                    volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium
                    ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam
                    erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor
                    sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue
                    ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et.
                    Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at
                    interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante.
                    Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor
                    purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
            </md-content>
    </md-tabs>
</md-content>