<md-card ng-controller="ApiController">
    <md-card-title>
        <md-card-title-text>
            <div layout-gt-sm="row">
                <div flex>
                    <span class="md-headline">Станции API</span>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Локаль</label>
                    <md-select ng-init="stationReq.locale = locales[0]" ng-model="stationReq.locale">
                        <md-option ng-repeat="locale in locales" value="{{locale}}">
                            {{locale}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div ng-controller="CountryAutocompleteController" flex>
                    <md-autocomplete flex required
                                     md-no-cache="noCache"
                                     md-selected-item="selectedItem"
                                     md-search-text="searchText"
                                     md-items="item in querySearch()"
                                     md-item-text="item.name"
                                     md-selected-item-change="onChange()"
                                     md-floating-label="Выбор страны">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
            </div>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Поиск по наименованию</label>
                <input ng-init="searchName = ''" ng-model="stationReq.searchName">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="search()">Поиск</md-button>
        </div>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="selected">
                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="nameToUpper">Название РУС</th>
                    <th md-column>Название УКР</th>
                    <th md-column>Адрес РУС</th>
                    <th md-column>Адрес УКР</th>
                    <th md-column>КОАТУУ</th>
                    <th md-column>Страна</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="station" md-select-id="name"
                    ng-repeat="station in stations">
                    <td md-cell>{{station.nameRu}}</td>
                    <td md-cell>{{station.nameUa}}</td>
                    <td md-cell>{{station.addressRu}}</td>
                    <td md-cell>{{station.addressUa}}</td>
                    <td md-cell>{{station.codeKoatuu}}</td>
                    <td md-cell>{{getCountryAlpha2(station.countryId)}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>

    <md-card-actions layout="row" layout-align="center center">
        <div ng-include="'app/module/tabs/relation_tab/api_section/toggle/toggle.template.html'" flex></div>
    </md-card-actions>
</md-card>